@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');
font-family: 'Mulish', sans-serif;

*

{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(139, 86, 245);
    height: 100vh;
}

.cabezote{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menú superior izquierdo */

.logo{
    width: 390px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.logo p{
    margin-left: 20px;
    font-family: 'Mulish', sans-serif;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
}

.logo img{
    width: 80px;
    height: 15px;
    padding-top: 3px;
}

/* Menú superior derecho */

.menu_total{
    width: 95px;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_total img{
    width: 42px;
    height: 42px;
}

.navegacion{
    color: white;
    width: 80px;
    margin-top: 2.6px;
}

.menu > li{
    width: 40px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content:center;
    color: white;
    margin-left: 12px;
    margin-top: 9px;
}


.menu > li > a{
    display: inline-flex;
    color: white;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    padding-right: 90px;
}

.menu li a:hover{
    transition: all 0.3s;
}
.submenu{
    position: absolute;
    list-style-type: none;
    display: none;
}    

.submenu li a{
    width: 100px;
    height:0px ;
    display:block;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    text-decoration-color: white;
    text-align: right;
    text-decoration: none;
    margin-right: 194px;
    margin-top: 48px;
    padding-inline-end: 0%;
}

.menu li a:hover{
    text-decoration: underline;
}

.menu li:hover .submenu{
    display:block;
}

/* Contiene pregunta central y el input */

.container1{
    width: 100%;
    height: 280px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal{
    height: 28px;
    align-content: center;
    font-family: 'Mulish', sans-serif;
    font-size: 24.3px;
    color: white;
    margin-bottom: 21px;
}

.buscador{
    width: 68%;
    height: 42px;
    border-radius: 25px;
    border: 2.8px solid white;
    background-color: rgb(153, 103, 252);
    display: flex;
    font-size: 16.7PX;
    padding:0 15px ;
}

::placeholder { color:white; }

/* Para quitar focus del input */

input:focus, input.buscador:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/* Títulos de cada carousel */

.lista{
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 15.6px;
    margin:0px;
    margin-left: 22px;
    position: absolute;

}

/* Comienzan carouseles */

.carousel{
    width: 100%;
    height: 400px;
    padding-left: 22px;
}

.carousel_contenedor{
    width: 100%;
    height: 700px;
    display: flex;
    white-space: nowrap;
    padding-top: 84px;
    overflow-x:scroll;
}

.carousel_fotos{
    width: 200px;
    height: 250.4px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-size: 20px;
    cursor: pointer;
    transform-origin: center;
}
.carousel_fotos:hover{
    transform: scale(1.55);
    transition: 450ms all;
    z-index: 1;
}

.carousel_fotos img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

/* Botones efecto hover sobre las fotos */

.carousel_informacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    padding: 10px;
    opacity: 0;
}

.carousel_informacion:hover{
    background:linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    opacity: 1;
    transition: 450ms opacity;
}

.carousel_informacion_img img{
    width: 20px;
    height: 20px;
}

.carousel_informacion_titulo{
    margin: 5px 0px 0px 0px ;
    font-family: 'Mulish', sans-serif;
    color:white;
}

.carousel_informacion_subtitulo{
    font-size: 8px;
    margin: 3px 0px 0px 0px;
    font-family: 'Mulish', sans-serif;
    color:white;
}

/* Comienza el Footer */

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.footer a{
    text-decoration: none;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding-left: 23px;
    cursor: pointer;
}

.footer a:hover{
    text-decoration: underline;
}